@import '../helpers/color';

.color__wrapper {
  display: flex;
}
.color {
  height: 10vw;
  width: 10vw;
}

$mappedColor: e; 

.color100 {
  background: color($mappedColor, 7);
}
.color200 {
  background: color($mappedColor, 6);
}
.color300 {
  background: color($mappedColor, 5);
}
.color400 {
  background: color($mappedColor, 4);
}
.color500 {
  background: color($mappedColor, 3);
}
.color600 {
  background: color($mappedColor, 2);
}
.color700 {
  background: color($mappedColor, 1);
}
.color800 {
  background: color($mappedColor);
}
.color900 {
  background: color($mappedColor, -1);
}
.color1000 {
  background: color($mappedColor, -2);
}
.color1100 {
  background: color($mappedColor, -3);
}
.color1200 {
  background: color($mappedColor, -4);
}
.color1300 {
  background: color($mappedColor, -5);
}
.color1400 {
  background: color($mappedColor, -6);
}
.color1500 {
  background: color($mappedColor, -7);
}

.color1 {
  background: color($mappedColor, 7, false);
}
.color2 {
  background: color($mappedColor, 6, false);
}
.color3 {
  background: color($mappedColor, 5, false);
}
.color4 {
  background: color($mappedColor, 4, false);
}
.color5 {
  background: color($mappedColor, 3, false);
}
.color6 {
  background: color($mappedColor, 2, false);
}
.color7 {
  background: color($mappedColor, 1, false);
}
.color8 {
  background: color($mappedColor);
}
.color9 {
  background: color($mappedColor, -1, false);
}
.color10 {
  background: color($mappedColor, -2, false);
}
.color11 {
  background: color($mappedColor, -3, false);
}
.color12 {
  background: color($mappedColor, -4, false);
}
.color13 {
  background: color($mappedColor, -5, false);
}
.color14 {
  background: color($mappedColor, -6, false);
}
.color15 {
  background: color($mappedColor, -7, false);
}